.transaction__history {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-collapse: collapse;
  margin-top: 50px;
}

tr {
  border: 1px solid #bbb;
}

td,
th {
  border: 1px solid #bbb;
}

td,
th {
  text-align: center;
}

.transaction__head {
  height: 40px;
}
.transaction__row {
  height: 40px;
}
tbody tr:nth-child(even) {
  background-color: rgb(203, 212, 233);
}
